<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (evento of eventos; track evento.id) {
    <ion-item [routerLink]="['/detalles', evento.id]">
      <ion-thumbnail slot="start">
        <img [src]="evento.fotoUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{evento.titulo}}</h2>
        <p>
          {{ evento.descripcion }} <br />
          <small>{{ formatearFecha(evento.fecha) }}</small>
        </p>
      </ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
