ion-header {
  background-color: #f8f8f8;
}

ion-toolbar {
  --background: #f4364c;
}

ion-title {
  color: white;
}

ion-item {
  margin: 15px 0;
}

ion-button {
  margin-top: 20px;
  --background: #f4364c;
  --color: white;
}

ion-label {
  font-size: 14px;
}

ion-input {
  font-size: 14px;
}

ion-button[expand="full"] {
  margin-top: 20px;
}

.img-container {
  display: flex;
  justify-content: center;

  img {
    width: 250px;
  }
}
