<ion-header>
  <ion-toolbar>
    <ion-title>Crear Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Título del Evento</ion-label>
    <ion-input required [(ngModel)]="evento.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      [(ngModel)]="evento.categoria"
      label="Categoría"
      placeholder="Seleccionar..."
    >
      @for (categoria of categorias; track categoria) {
      <ion-select-option [value]="categoria">{{ categoria }}</ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input required [(ngModel)]="evento.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-input type="date" required [(ngModel)]="fecha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hora</ion-label>
    <ion-input type="time" required [(ngModel)]="hora"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Dirección</ion-label>
    <ion-input required [(ngModel)]="evento.direccion"></ion-input>
  </ion-item>

  <div class="img-container">
    @if (evento.fotoUrl) {
    <img [src]="evento.fotoUrl" alt="Foto del Evento" />
    }
  </div>

  <ion-button expand="full" (click)="tomarFoto()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Tomar Foto
  </ion-button>
  <ion-button
    expand="full"
    [routerLink]="['/home']"
    [disabled]="!evento.titulo || !fecha || !hora || !evento.direccion || !evento.fotoUrl"
    (click)="crearEvento()"
  >
    <ion-icon slot="start" name="save"></ion-icon>
    Crear Evento
  </ion-button>
  <ion-button expand="full" (click)="cancelar()">
    <ion-icon slot="start" name="close"></ion-icon>
    Cancelar Evento
  </ion-button>
</ion-content>
