<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select
        [value]="nubeService.redPreferida"
        (ionChange)="nubeService.cambiarRedPreferida($event.detail.value)"
        label="Sincronizar usando"
      >
        <ion-select-option value="wifi">Wi-Fi</ion-select-option>
        <ion-select-option value="cellular">Datos móviles</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
