<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select
        value="wifi"
        label="Sincronizar usando"
        placeholder="Seleccionar..."
      >
        <ion-select-option value="wifi">Wi-Fi</ion-select-option>
        <ion-select-option value="datos">Datos móviles</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
